body {
    background-image: linear-gradient(#ae00ff, #0026ff);
    height: 97vh;
    min-width: 510px;
}

span {
    font-weight: 900;
}

p {
    margin-top: 0px;
}

.container {
    display: flex;
    justify-content: center;
}

.next-section, .score-section {
    height: 100px;
    width: 80px;
    border: 3px solid grey;
    background-color: grey;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.score-section {
   margin-right: 5px;
}

.next-section {
    margin-left: 5px;
}

.small-grid {
    margin: auto;
    margin-top: -10px;
    height: 56px;
    width: 56px;
    display: flex;
    flex-wrap: wrap;
}

.small-grid div {
    height: 12px;
    width: 12px;
    border: 1px solid #ffffff4d;
}

.pause {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: grey;
    top: 120px;
    left: -65px;
    border-radius: 10px;
    cursor: pointer;
}

.grid {
    width: 220px;
    height: 440px;
    border: 8px solid grey;
    display: flex;
    flex-wrap: wrap;
    /* margin: auto; */
    background-color: black;
    border-radius: 10px;
}

.grid div {
    height: 20px;
    width: 20px;
    background-color: black;
    border: 1px solid #1740c7;
    border-radius: 3px;
}

.current-shape {
    height: 20px;
    width: 20px;
    border: 1px solid white !important;
}

.hide {
    visibility: hidden;
}

/* Colors */
.green {
    background-color: #30a130 !important;
}

.red {
    background-color: #e00c0c !important;
}

.yellow {
    background-color: #d3c71b !important;
}

.blue {
    background-color: #0088e2 !important;
}

.orange {
    background-color: #f59a31 !important;
}

.violet {
    background-color: #ff00ea !important;
}

/* h1 colors */

.t {
    color: #e00c0c;
}

.e {
    color: #f59a31;
}

.t2 {
    color: #d3c71b;
}

.r {
    color: #30a130;
}

.i {
    color: #0088e2;
}

.s {
    color: #ff00ea;
}